@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fossil-card {
  height: 48vh;
  overflow: hidden;
  text-align: left;
}

.fossil-info {
  transform: translateY(-2.8rem);
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.8);
}

.fossil-card:hover .fossil-info {
  transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 0.9);
}

.fossil-price {
  white-space: nowrap;
}

.ribbon {
  position: absolute;
  color: white;
  font-weight: bold;
  right: 0;
  transform: rotateZ(45deg) translate(1.5rem, -0.5rem);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
  opacity: 0.4;
}

article > p {
  padding-top: 0.5rem;
}
