@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-lines {
    clip-path: polygon(
      0 0,
      0 calc(100% - 1rem),
      100% calc(100% - 1rem),
      100% 0
    );
  }
}

body {
  --bg-light: rgb(245 245 244);
  --bg-light-opaque: rgb(245 245 244 / 0.75);
  --bg-dark: rgb(28 25 23);
  --bg-dark-opaque: rgb(28 25 23 / 0.6);
  --text-light: rgb(229 231 235);
  --text-dark: rgb(68 64 60);
  --soft-light: #d6d3d1;
  --soft-dark: #44403c;
  --color-info: #d1ecf1;
  --color-success: #d4edda;
  --color-warning: #fff3cd;
  --color-danger: #f8d7da;
  --text-color-info: #0c5460;
  --text-color-success: #0c5460;
  --text-color-warning: #856404;
  --text-color-danger: #721c24;
  background-color: var(--bg-light);
  font-family: "Lora", sans-serif;
}
body.dark {
  background-color: var(--bg-dark);
}

.info {
  border-radius: 1rem;
  color: var(--text-color-info);
  background-color: var(--color-info);
}
.success {
  color: var(--text-color-success);
  background-color: var(--color-success);
}
.warning {
  color: var(--text-color-warning);
  background-color: var(--color-warning);
}
.error {
  color: var(--text-color-danger);
  background-color: var(--color-danger);
}

.background {
  z-index: -1;
}
.bg-contact {
  z-index: -1;
}

main {
  min-height: 100%;
}

main article {
  min-height: calc(100vh - 16rem);
}

.frame {
  background-color: rgb(245 245 244 / 0);
}

body.dark .frame {
  background-color: rgb(28 25 23 / 0);
}
.frame.fadeIn,
.frame.fadeBgIn {
  background-color: var(--bg-light-opaque);
}

body.dark .frame.fadeIn,
body.dark .frame.fadeBgIn {
  background-color: var(--bg-dark-opaque);
}

a {
  cursor: pointer;
}

nav.text a {
  border-bottom-width: 1px;
  border-bottom-color: var(--text-light);
  line-height: 1.5;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1rem;
  font-family: sans-serif;
}

nav.top a {
  padding: 0.2rem 1rem;
  margin: 0.1rem 0;
  border-bottom-color: transparent;
}

nav.text a:hover {
  border-bottom-color: var(--text-dark);
}

body.dark nav.text a {
  border-bottom-color: transparent;
}
body.dark nav.text a:hover {
  border-bottom-color: var(--text-light);
}

/* nav > a.menu {
  position: absolute;
  top: 4px;
  padding: 0;
} */

.nav-item {
  position: relative;
  overflow: hidden;
  transition: opacity ease-out 0.2s;
  font-family: sans-serif;
}

.selected .nav-item {
  opacity: 0.3;
}

body.dark .selected .nav-item {
  opacity: 0.5;
}
/* .drop-shadow {
  filter: drop-shadow(0px 0px 2px var(--bg-dark-opaque));
}
.dark .drop-shadow {
  filter: drop-shadow(0px 0px 2px var(--bg-light-opaque));
}
.slideshow {
} */
.slideshow .slides {
  /* min-height: calc(100vh - 8rem); */
  width: 100%;
  position: relative;
}
.slideshow .slide {
  position: absolute;
  width: 100%;
  z-index: -10;
  opacity: 0;
  transition: all 1s ease-out;
  pointer-events: none;
}
.slideshow .slide.active {
  opacity: 1;
  pointer-events: all;
}

.slideshow nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slideshow nav.prev-next {
}

.slideshow nav.prev-next a {
  display: inline-block;
  opacity: 0.5;
}
.slideshow nav.prev-next a:hover {
  opacity: 1;
}

/* .absolute.fixed {
  position: fixed;
} */

.slideshow nav .dots {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.slideshow nav .numbers .nav-dot {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: var(--text-dark);
}
body.dark .slideshow nav .numbers .nav-dot {
  color: var(--text-light);
}

.slideshow nav .dots .nav-dot {
  height: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.slideshow nav .dots .nav-dot span {
  display: block;
  margin-top: 0.4rem;
  width: 1rem;
  height: 0.1rem;
  opacity: 0.5;
  border: solid 1px var(--text-dark);
  background-color: var(--text-light);
  transition: all 0.1s ease-out;
}

.slideshow nav .numbers .nav-dot.active {
  border-bottom: solid 1px var(--text-dark);
}
body.dark .slideshow nav .numbers .nav-dot.active {
  border-bottom: solid 1px var(--text-light);
}
.slideshow nav .dots .nav-dot.active span,
body.dark .slideshow nav .dots .nav-dot.active span,
.slideshow nav .dots .nav-dot:hover span,
body.dark .slideshow nav .dots .nav-dot:hover span {
  height: 1rem;
  margin-top: 0;
}
.slideshow nav .dots .nav-dot.active span {
  background-color: var(--bg-light);
}
body.dark .slideshow nav .dots .nav-dot span {
  border-color: var(--text-light);
  background-color: var(--text-dark);
}
body.dark .slideshow nav .dots .nav-dot.active span {
  background: var(--bg-dark);
}
.slideshow nav .dots .nav-dot:hover span,
body.dark .slideshow nav .dots .nav-dot:hover span {
  opacity: 1;
}

.slideshow.fullscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: var(--bg-light);
}

.slideshow.fullscreen .slides {
  height: 100%;
}
.slideshow.fullscreen .slides .slide {
  width: 100%;
  height: 100%;
}

.slideshow.fullscreen nav {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
  /* z-index: 20; */
}

.slideshow .toggle-fullscreen {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.fill-screen-v {
  min-height: calc(100vh - 38rem);
}
.nav-item:hover,
.nav-item.current,
body.dark .nav-item.current {
  opacity: 1;
}

.nav-item img {
  opacity: 0.8;
}
.nav-item.current img {
  opacity: 1;
}

.nav-item:hover img {
  opacity: 1;
}

.fossil-card {
  height: 48vh;
  overflow: hidden;
  text-align: left;
}

.fossil-info {
  transform: translateY(-3.2rem);
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.8);
}

.fossil-card:hover .fossil-info,
.fossil-card:focus .fossil-info {
  transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 0.9);
}

.ribbon {
  font-family: sans-serif;
  position: absolute;
  color: white;
  font-weight: bold;
  right: 0;
  top: 0;
  transform: rotateZ(45deg) translate(1.5rem, -0.5rem);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
  opacity: 0.4;
}

.nav-item .ribbon {
  transform: rotateZ(45deg) translate(0.5rem, -0.5rem);
}
.toggle-theme {
  pointer-events: none;
}

.toggle-theme > * {
  pointer-events: auto;
}

.toggle-theme svg {
  fill: var(--text-dark);
}
.toggle-theme svg .bg {
  fill: var(--text-light);
}
body.dark .toggle-theme svg {
  fill: var(--text-light);
}
body.dark .toggle-theme svg .bg {
  fill: var(--text-dark);
}

.toggle-theme svg .moon,
.toggle-theme svg .star {
  transform-origin: center;
  transition: transform 0.5s ease-out;
}
.toggle-theme svg .moon {
  transform: translateX(0);
}

body.dark .toggle-theme svg .moon {
  transform: translateX(-6px);
}
body.dark .toggle-theme svg .star {
  transform: rotateZ(90deg);
}

.toggle-theme > button,
.toggle-theme > button > div {
  border-color: rgba(0, 0, 0, 0);
  display: block;
  width: 14px;
  height: 14px;
}

.toggle-theme > button,
.toggle-theme.dark:hover > button {
  background-color: black;
}
.toggle-theme:hover > button {
  background-color: white;
}

.toggle-theme > button > div,
.toggle-theme.dark:hover > button > div {
  background-color: white;
}
.toggle-theme:hover > button > div {
  background-color: black;
}

.toggle-theme > button > div,
.toggle-theme.dark:hover > button > div {
  border-bottom-left-radius: 100%;
  border-top-right-radius: 0;
}

.cart a h4 {
  margin-top: 0rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeBgIn {
  from {
    background-color: rgb(0 0 0 / 0);
  }

  to {
    background-color: var(--bg-light-opaque);
  }
}
@keyframes fadeBgDarkIn {
  from {
    background-color: rgb(0 0 0 / 0);
  }

  to {
    background-color: var(--bg-dark-opaque);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.fadeBgIn {
  animation-name: fadeBgIn;
  animation-duration: 1s;
}

.dark .fadeBgIn {
  animation-name: fadeBgDarkIn;
  animation-duration: 1s;
}
