@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  opacity: 0.5;
  transition: opacity ease-in-out 0.2s;
}

.nav-item:hover,
.nav-item.current {
  opacity: 1;
}

.nav-item img {
  opacity: 0.8;
}
.nav-item.current img {
  opacity: 1;
}

.nav-item:hover img {
  opacity: 1;
}

.fossil-card {
  height: 48vh;
  overflow: hidden;
  text-align: left;
}

.fossil-info {
  transform: translateY(-2.8rem);
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.8);
}

.fossil-card:hover .fossil-info,
.fossil-card:focus .fossil-info {
  transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 0.9);
}

.fossil-price {
  white-space: nowrap;
}

.ribbon {
  position: absolute;
  color: white;
  font-weight: bold;
  right: 0;
  transform: rotateZ(45deg) translate(1.5rem, -0.5rem);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
  opacity: 0.4;
}

.toggle-theme {
  position: absolute;
  pointer-events: none;
}

.toggle-theme > * {
  pointer-events: auto;
}

.toggle-theme.dark {
  /* box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); */
}

.toggle-theme > button,
.toggle-theme > button > div {
  border-color: rgba(0, 0, 0, 0);
  display: block;
  width: 14px;
  height: 14px;
}

.toggle-theme > button,
.toggle-theme.dark:hover > button {
  background-color: black;
}
.toggle-theme:hover > button {
  background-color: white;
}

.toggle-theme > button > div,
.toggle-theme.dark:hover > button > div {
  background-color: white;
}
.toggle-theme:hover > button > div {
  background-color: black;
}

.toggle-theme > button > div,
.toggle-theme.dark:hover > button > div {
  border-bottom-left-radius: 100%;
  border-top-right-radius: 0;
}
